.boton-personalizado {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

/* Estilo para botones principales */
.boton-personalizado.primario {
    background-color: #ff6600;
    color: white;
}

.boton-personalizado.primario:hover {
    background-color: #e65c00;
    transform: scale(1.05);
}

/* Estilo para botones secundarios */
.boton-personalizado.secundario {
    background-color: #007bff;
    color: white;
}

.boton-personalizado.secundario:hover {
    background-color: #0056b3;
}

.boton-personalizado.peligro {
    background-color: #ff4d4d;
    color: white;
}

.boton-personalizado.peligro:hover {
    background-color: #cc0000;
}

.boton-personalizado.redes-sociales {
    color: #ff9800;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.1rem;
}

.boton-personalizado.redes-sociales:hover {
    color: #ffd700;
}